

<h1 class = "text-center mb-3" style ="margin-top: 50px;">{{title}}</h1>

<div class="input-group mb-3"> <input id ="searchBar" type="text" class="form-control" placeholder="Search Cases">
    <div class="input-group-append">
        <button class="btn btn-primary">
            <i class="fas fa-search"></i>
        </button>
    </div>
</div>

 <script>
    $(document).ready(function(){
    $("#searchBar").on("keyup", function() {
        var value = $(this).val().toLowerCase();
        $("a.link-cases").filter(function() {
        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });
    });
    });
</script> 
{{!-- <div class="list-group" id="linkContainer"> --}}
    {{#each cases}}
        {{#if this.HDS_Name includeZero=true}}
            <a class="link-cases" href = "/{{this.HDS_Name}}_case" >
            <div class="card mb-3 border-changer">
  <div class="card-body hds-card">
    
    <h3 class="card-title">{{this.HDS_Name}}</h3> <br>
    
    <p class="card-text" id="card-summary">
        Patient ID: {{this.Patient_ID}}
    </p>
    <br>
  </div>
</div>
            </a>
        {{/if}}
    {{/each}}

    
{{!-- </div> --}}