<div class="card text-center" style="width: 100%;">
  <img class="card-img-top" src="{{new_HDS.Img_tox}}" alt="Card image cap">
  <div class="card-body">
    <p class="card-text">{{new_HDS.HDS_Name}}</p>
  </div>
</div>