

.custom-ul a{
    color:black;
    opacity: 60%;
}

.custom-ul a:hover{
    color:black;
    opacity: 100%;
}

.custom-ul a.active{
    color:black;
    opacity: 100%;
}

.navbar {
    -webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    -ms-transition: all 0.25s ease;
    transition: all 0.25s ease;
    height:70px;
    font-family: 'Montserrat', sans-serif !important;
    background-color: transparent;
}

.navbar.scrolled {
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
}

.custom-ul.scrolled a{
    color:white;
    opacity: 60%;
}

.custom-ul.scrolled a:hover{
    color:white;
    opacity: 100%;
}

.custom-ul.scrolled a.active{
    color:white;
    opacity: 100%;
}

.d-flex {
    opacity: 0;
}

.d-flex.scrolled {
    opacity: 1;
}

.fas-l.scrolled {
    opacity: 1;
    color:white;
}
.fas-l {
    opacity: 0;
}

.home {
    color:black;
}

.home.scrolled {
    color:white;
}

.home:hover {
    color:black;
}

a {
    text-decoration: none;
}

.home.scrolled:hover {
    color:white;
}